<% form_for @profile, :html => { :multipart => true } do |f|  %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :distro %><br />
    <%= f.text_field :distro %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :architecture %><br />
    <%= f.text_field :architecture %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
	  <%= f.label :status %><br />
	  <%= f.file_field :status %>
	</div>
  <div class="field">
	  <%= f.label :sources %><br />
	  <%= f.file_field :sources %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
