<div id="header">
	<div id="content">
		<h1>Keryx Profiles</h1>
	</div>
</div>

<div id="nav">
	<div id="content">
		<%= link_to 'Home', '/' %>
	  <div class="right">
			<%= link_to 'Add New Profile', new_profile_path %>
		</div>
	</div>
</div>

<div id="main">	
	<div id="content">
		<h2>Latest Profiles</h2>
		<ul style="list-style:none">

		<% @profiles.each do |profile| %>
			<li style="border-bottom: 1px solid #DDD; padding: 10px">
				<p class="left"><%= distro_image profile %></p>
				<h2><%= profile.distro %> <%= profile.version %></h2>
				<p>For <strong style="color: #DD4814"><%= profile.architecture %></strong> machines</p>
				<p id="submitted">Submitted by <%= profile.author %> on <%= profile.updated_at %></p>
			</li>
		<% end %>
		</ul>
	</div>
</div>
