<div id="header">
	<div id="content">
		<h1>Keryx Profiles</h1>
	</div>
</div>

<div id="nav">
	<div id="content">
		<%= link_to 'Home', '/' %>
	  <div class="right">
			<%= link_to 'Add New Profile', new_profile_path %>
		</div>
	</div>
</div>

<div id="main">	
	<div id="content">
		<h2>Latest Profiles</h2>
		<table>
		  <tr>
		    <th>Distro</th>
		    <th>Version</th>
		    <th>Architecture</th>
		    <th>Author</th>
		    <th></th>
		  </tr>

		<% @profiles.each do |profile| %>
		  <tr>
		    <td><%= distro_image profile %><%= profile.distro %></td>
		    <td><%= profile.version %></td>
		    <td><%= profile.architecture %></td>
		    <td><%= profile.author %></td>
		    <td><%= link_to 'Show', profile %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
