<div id="header">
	<div id="content">
		<h1>View Profile</h1>
	</div>
</div>

<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
		<div class="right">
			<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
		</div>
	</div>
</div>

<div id="main">
	<div id="content">
		<p id="notice"><%= notice %></p>

		<p>
		  <b>Distro:</b>
		  <%= @profile.distro %>
		</p>

		<p>
		  <b>Version:</b>
		  <%= @profile.version %>
		</p>

		<p>
		  <b>Architecture:</b>
		  <%= @profile.architecture %>
		</p>

		<p>
		  <b>Author:</b>
		  <%= @profile.author %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @profile.email %>
		</p>

		<p>
			<%= link_to 'status', @profile.status.url %>
			<%= link_to 'sources.list', @profile.sources.url %>
		</p>
	</div>
</div>
