<div id="header">
	<div id="content">
		<h1>Keryx Profiles</h1>
	</div>
</div>

<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
		<div class="right">
			<%= link_to 'Edit Profile', edit_profile_path(@profile) %>
		</div>
	</div>
</div>

<div id="main">
	<div id="content">
		<p id="notice"><%= notice %></p>

		  <h2><%= @profile.distro %> <%= @profile.version %></h2>

		<p>
		  <b>Architecture:</b>
		  <%= @profile.architecture %>
		</p>

		<p>
		  <b>Author:</b>
		  <%= @profile.author %>
		</p>

		<p>
		  <b>Email:</b>
		  <%= @profile.email %>
		</p>

		<p>
			<%= link_to 'status', @profile.status.url %>
			<%= link_to 'sources.list', @profile.sources.url %>
		</p>
		
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  /**
		    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		    */
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://keryxprofiles.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=keryxprofiles">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<script type="text/javascript">
var disqus_shortname = 'keryxprofiles';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/keryxprofiles/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>