<div id="nav">
	<div id="content">
		<%= link_to 'â† Back', profiles_path %>
		<div class="right">
			<%= link_to 'Edit Profile', edit_profile_path(@profile) %> | <%= link_to 'Delete', @profile, :confirm => 'Are you sure?', :method => :delete %>
		</div>
	</div>
</div>

<div id="main">
	<div id="inner">
		<p id="notice"><%= notice %></p>

		<p class="left"><%= distro_image @profile %></p>
		<h2><%= @profile.distro %> <%= @profile.version %></h2>
		<p>For <span><%= @profile.architecture %></span> machines</p>
		<p id="submitted">Submitted by <%= @profile.author %> on <%= @profile.updated_at %></p>

		<h3>Download Instructions</h3>
		<ol>
			<li>Create a new folder in the Keryx projects folder. You can name this whatever you want</li>
			<li>Make a file in this directory with the same name and with the ".keryx" file extension". For example: <pre><%= @profile.distro %>_<%= @profile.version %>_<%= @profile.architecture %>.keryx</pre> Edit this file and paste in the following contents: <pre><%= @profile.distro %> <%= @profile.version %><br />Debian</pre></li>
			<li>Make another file in your profile directory called "debian.conf" with the following contents:<pre>Computer Name: default<br />OS Name: <%= @profile.distro %><br />OS Version: <%= @profile.version %><br />Architecture: <%= @profile.architecture %><br />Kernel: default</pre></li>
			<li>Download the <b><%= link_to 'status', @profile.status.url %></b> file and save it inside a directory called "lists" in your profile folder.</li>

			<li>Download the <b><%= link_to 'sources.list', @profile.sources.url %></b> file and save it inside a directory called "sources" in your profile folder.</li>
			<li>Open your new profile in Keryx!</li>
		</ol>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  /**
		    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
		    */
		  (function() {
		   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		   dsq.src = 'http://keryxprofiles.disqus.com/embed.js';
		   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=keryxprofiles">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
</div>

<script type="text/javascript">
var disqus_shortname = 'keryxprofiles';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/keryxprofiles/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
