<!DOCTYPE html>
<html>
<head>
  <title>Keryx Profiles</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <div id="content">
      <h1><%= link_to "Keryx Profiles", root_path %></h1>
    </div>
  </div>

<%= yield %>

  <div id="footer">
    <div id="content">
      <div class="credits">
        <div>Lovingly created by <%= link_to "Chris Oliver", "http://excid3.com" %></div>
        <div>Found a problem? <%= link_to "Report it.", "mailto:excid3@gmail.com" %></div>
      </div>
      <div class="list">
        <h4>Links</h4>
        <ul>
          <li><%= link_to "Keryx", "http://keryxproject.org" %></li>
          <li><%= link_to "Ubuntu", "http://ubuntu.com" %></li>
        </ul>
      </div>
      <div class="list">
        <h4>Keryx Developers</h4>
        <ul>
          <li><%= link_to "Chris Oliver", "http://excid3.com" %></li>
          <li><%= link_to "mac9416", "http://mac9416.com" %></li>
          <li>jacseen</li>
          <li>webrsk</li>
        </ul>
      </div>
      <div class="list">
        <h4>Keep Keryx Going!</h4>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post"> <input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="5306906" /> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" /> <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" border="0" alt="" width="1" height="1" />
      </div>
    <div class="license">
      Except where otherwise noted, content on this site is licensed under a <%= link_to "Creative Commons Attribution 3.0 License", "http://creativecommons.org/licenses/by/3.0/" %>
    </div>
    </div>
  </div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8399719-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
